* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --textColor: #373737;
    --secundaryColor: #6B6A5E;
    --secundaryHoverColor: #5B5A4E;
    --accentColor: #C2B97F;
    --accentHoverColor: #B2A96F;
    --backgroundColor: #F5F4EE;
}

.principalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuContainer {
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--accentColor);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menuContainer button {
    background: none;
    border: none;
    color: var(--backgroundColor);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.menuContainer button:hover {
    background-color: var(--accentHoverColor);
    color: var(--backgroundColor);
    border-radius: 5px;
}


.contentContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 30px;
}


