.content {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: solid 1px var(--secundaryColor);
}

th{
    padding: 12px;
    border: solid 1px var(--secundaryColor);
    text-align: center;

}

.tableTittle{
    background-color: var(--accentColor);
    color: var(--backgroundColor);
    font-size: 18px;
    font-weight: bold;
}