.welcomeContainer {
    
}

.welcomeContainer img {
    width: 150px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 80px;
}

.welcomeContainer h1 {
    font-size: 36px;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

